/* Style sheet created by Daniel Robles, 3/10/22 */

/* Style for body specifies a background color*/
body {
	background-color: #010F29;
}

/* style to create a fluid image */
img {
	max-width: 100%;
}

/* Styles for mobile layout */

/* Style for container centers the page and sets the element width*/
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for header specifies top margins, background color, rounded corners, and center aligns content */
header { 
	text-align: center;
}

/* Style for nav specifies text properties */
nav{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	margin-top: -1.5em;
}

/* style specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #363E4D;
	border-radius:2em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}

/* style changes navigation link text color to white and removes the underline */
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}

	
/* Style displays the mobile class */
.mobile { 
	display: inline;
}

.desktop {
	display: none;
}
	
/* Style for main element specifies block display, text properties, margins, padding, rounded corners, and border properties */
main {
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 1em 1em 1em 1em;
	background-color:#1B6F2B;
	opacity: 0.85;
	color: #FFFFFF;
	
}

/* Style for anchor elements within the main element (link as button) */
main a {
	font-weight: bold;
	padding: 0.5em;
	text-decoration: none;
	color: #FFFFFF;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
	color: #FFFFFF;
}

/* Style for anchor elements within the footer (change footer link to white) */
footer a {
	color: #ffffff;
	text-decoration: none;
}

/* style hids the tablet class */
.tablet {
	display: none;
}

/* style rule specifies to not display the equip class */
.equip {
	display: none;
}

/* Style for aside element */
aside {
	font-style: italic;
}
header img {
	margin-bottom: 2em;
}
main p {
	text-align: center;
}
main h2 {
	text-align: center;
}
main h1 {
	text-align: center;
}
main h3 {
	text-align: center;
}
main h4 {
	text-align: center;
	}

/* Media query for tablet viewport targets screen size with a min width of 660px.*/

@media only screen and (min-width: 660px) {
	
	/* Style specifies a horizontal display for navigation links */
	nav li {
		display: inline;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
		padding-left: 0;
		padding-right: 0;
		width: 18%;
		white-space: nowrap;
		border-radius: 0;
		background-color: transparent;
	}
	
	/* Style specifies clear and top margin properties for the main element */
	main {
		clear: left;
		margin-top: -.3em;
		border-radius: 0;
		overflow: auto;
	}
	
	/* Style specifies to hide the mobile class */
	.mobile {
		display:none;
	}
	
	/* Style specifies to display the desktop class */
	.desktop {
		display: inline;
	}
	
	/* Style specifies a display, float, and padding for the equip class */
	.equip {
		display: inline;
		float: left;
		margin-right: 1.5em;
	}
	
	/*Style specifies a display, list style position, and bottom margin for the items class */
	.items {
		display: block;
		list-style-position: inside;
	}
	
	/* Style specifies to display the tablet class */
	.tablet {
		display: block;
		margin-top: -3em;
		margin-bottom: -1em;
	}
	
	/* style specifies a font weight and top margin for description list terms */
	dt {
		font-weight: bold;
		margin-top: 0.7em;
	}
	
	/* style for h1 element */
	h1 {
		text-align: center;
	}
	
	/* Style for images within the figure element */
	figure img {
		background-color: #1d1d1c;
		display: inline;
		height: 8em;
		width: 28%;
		margin: 1%;
		padding: 1%;
	}
	
	/* Style for anchor elements within the figure element (picture links) */
	figure a {
		background-color: transparent;
		padding: 0;
		text-decoration: none;
	}
	
	/* Style specifies bottom padding for the section element */
	section {
		padding-bottom: 3em;
	}
	
	/* Style for header 1 element within the section 1 element */
	section h1 {
		text-align: left;
	}
	
	/* Style for anchor element within the section element */
	section a {
		background-color: transparent;
		color: #1d1d1c;
		font-weight: normal;
		padding: 0;
		text-decoration: underline;
	}
	
	/* style for contact class */
	.contact {
		background-color: transparent;
		color: #1d1d1c;
		padding: 0;
		text-decoration: underline;
	}
	
	/* Style for article element */
	article {
		background-color: #C1D9CA;
		float: left;
		margin: 0.5%;
		padding: 0.5%;
		text-align: center;
		width: 31%;
	}
	
	/* style for image element contained within the main article element */
	main article img {
		border: solid 0.1em #1d1d1c;
		margin-left: auto;
		margin-right: auto;
	}
	
	/* style for paragraph element contained within the main article element */
	main article p {
		color: #000000;
		margin-top: 2%;
		padding: 1%;
		text-align: left;
	}
	
	/* style for unordered list element contained within the main article element */
	main article ul {
		text-align: left;
	}
	
	/* style for aside element */
	aside {
		background-color: #FFFFFF;
		border-radius: 0 5em 5em 5em ;
		box-shadow: 1em 1em 1em #4c4f4d;
		padding: 1.5em;
		margin: 1em;
	}
	
	
}

/* Media query for desktop viewport targets screens with a min width of 830px. */

@media only screen and (min-width: 830px) {
	
	/* Style specifies a width for container */
	#container {
		background-color: #1d1d1c
	}
	
	/* Style to left align the header */
	header {
		text-align: left;
	}
	
	/* Style for nav specifies a float, margin, and width */
	nav {
		float: right;
		margin-top: -7em;
		margin-right: 3em;
		margin-bottom: 0;
		width: 65%;
	}
	
	/* Style specifies a margin and padding for the unordered list within the nav */
	nav ul {
		margin: 0;
		padding-left: 0.50%;
		padding-right: 0.50%;
	}
	
	/* style for nav list items specifies a border radius, border margin width, and padding */
	nav li {
		margin-left: 0;
		margin-right: 0; 
		padding: 0;
		width: 20%;
	}
	
	/* Style for nav links specifies display and padding */
	nav li a {
		display:inline-block;
		padding: 0.7em;
		text-shadow: 0.2em 0.1em #3d3d35;
	}
	
	/*Style rule for pseudo-classes */
	nav li a:link {
		color: #FFFFFF;
	}
	
	nav li a:visited {
		color: #ccccff;
	}
	
	nav li a:hover {
		color: #909093;
		font-style: italic;
	}
	
	/* Style specifies border, shadow, margin, and padding for main element */
	main {
		background-color: #1d1d1c;
	}
	
	/* Style specifies left and right padding for paragraph elements within the main element */
	main p {
		color: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	
	/* style applies color to the h1 element */
	h1 {
		color: #FFFFFF;
	}
	
	/* style applies height and capacity to images within figure element */
	figure img {
		height: 23em;
		width: 23em;
	}
	
	/* Style specifies a gradient for the body element */
	body {
		background-color: #FFFFFF;
	}
	
	/* style specifies a background color, margin, and padding for the footer element */
	footer {
		background-color: #2a2a2a;
		margin-top: -0.2em;
		padding: 2em;
	}
	
	/* style specifies color and left margin for the section element */
	section {
		color: #FFFFFF;
		margin-left: 1em;
		padding-bottom: 5em;
	}
	
	/* style for anchor element within the section element */
	section a {
		color: #FFFFFF;
	}
	
	/* Section for paragraph within the section element */
	section p {
		margin-left: 0;
	}
	
	/* Style for main h2 element */
	main h2 {
		color: #FFFFFF;
	}
	
	/* style for contact class */
	.contact {
		color: #FFFFFF;
	}
	
	/* Style for main article h2 element */
	main article h2 {
		color: #000000;
	}
	header img {
		width: 15%;
		margin-left: 10%
	}
	.meimg {
		width: 22em;
		height: 22em;
		margin-left: 40%;
		margin-right: auto;
	}
	.lliamimg {
		width: 22em;
		height: 22em;
		margin-left: 40%;
		margin-right: auto;
	}
	
	main h3 {
		margin-left: 0%;
	}
	
	main img {
		width: 22em;
		height: 22em;
	}
	.email {
		margin-left: 44.5%
	}
	main h4 {
		text-align: center;
	}
	iframe {
		margin-left: 23%;
	}


	
		
	
}

	